*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding: 25px 4%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}


#navbar a{
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  color: black;
}
#navbar a:hover{
  cursor: pointer;
  background-color: rgb(209, 40, 209);
}

.logo span{
  font-size: 48px;
  
}
.logo div{
  font-size: 20px;
}
 #open{
  display: none;
  color: black;
  font-size: 20px;
} 

@media screen and (max-width: 750px){
 
  #navbar{
    position: fixed;
    top: 90px;
    right: 0px;
    height: 70%;
    width: 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: .4s;
  }
  #navbar.show{
    width: 200px;
    transition: .4s;
  }
  #open{
    display: block;
  }
}
.set{
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.right img{
  width: 400px;
  height: 430px;
  border-radius: 29px;
}

.left h1{
  font-size: 40px;

}
.left span{
  color: rgb(209, 40, 209);
}
.left p{
  line-height: 35px;
  font-size: 18px;
}
.left button{
  width: 150px;
  height: 40px;
  margin: 30px 0;
  background-color:  rgb(209, 40, 209);
  /* color: black; */
  border-radius: 20px;
 

}

@media screen and (max-width: 750px){
  .set{
    display: block;
    padding: 35px;
  }
  
}


